:root {
	--r: 6px;
	--sbar: 6px;
	--pad: 6px;

	--bw: 1px;
	--bw2: calc(var(--bw) * 2);

	--bg: #fff;

	--region-color: #01a9b4;
	--district-color: #e84a5f;
	--type-color: #ffa931;
}

body {
	margin: 0;
	display: flex;

	font-family: Roboto, sans-serif;
}

body.loading > *:not(.loading-container) {
	display: none;
}

body.loading .loading-container {
	display: flex;
	flex-direction: column;
}

.loading-container {
	display: none;
	width: 100vw;
	height: 100vh;
	align-items: center;
	justify-content: center;
}

.loading-container span {
	width: 20px;
	height: 20px;
	border: 3px solid grey;
	border-radius: 50%;
	border-bottom-color: transparent;
	animation: spin 1s linear 0s infinite;
	margin-bottom: 1rem;
}

/* ============================================== */
#loader {
	position: fixed;
	top: 0;
	left: 0;

	height: 4px;
	width: 100%;

	background-color: teal;

	animation: load 1.2s ease-in-out infinite;

	z-index: 10;
}
/* ============================================== */

/* Filters */

.filter-icon {
	position: fixed;
	bottom: 4vw;
	right: 5vw;
	--s: 30px;
	box-sizing: border-box;
	padding: 1%;
	height: var(--s);
	width: var(--s);
	border-radius: var(--pad);
	box-shadow: 0 0 6px #0e0e0e;
	z-index: 5;

	-webkit-transition: transform 0.15s ease-in-out;
	-moz-transition: transform 0.15s ease-in-out;
	-ms-transition: transform 0.15s ease-in-out;
	-o-transition: transform 0.15s ease-in-out;
	transition: transform 0.15s ease-in-out;
}

.filter-icon:active {
	-webkit-transform: scale(0.95);
	-moz-transform: scale(0.95);
	-ms-transform: scale(0.95);
	-o-transform: scale(0.95);
	transform: scale(0.95);
}

.filter-icon img {
	width: 100%;
	height: 100%;
}

.toggle {
	display: flex;
	position: fixed;
	bottom: 3vw;
	right: 5vw;
	padding: 9px 15px;
	font-size: 0.9rem;
	border-radius: 50px;
	box-shadow: 1px 0px 6px #909090;
	z-index: 100;
	background-color: #fff;
	outline: none;
	border: none;
}

.filter {
	display: flex;
	flex-direction: column;
	min-width: 270px;
	max-width: 300px;
	height: 100vh;
	padding: 0;

	position: fixed;
	top: 0;
	left: -105%;

	border-right: 1px solid #dedede;
	background-color: #fff;
	overflow-y: auto;

	box-shadow: 1px 0px 6px #909090;

	transition: all 0.5s ease-in-out;
	z-index: 100;
}

.filter.show {
	left: 0;
}

.filter > h3 {
	position: sticky;
	top: 0;
	margin: 0;
	padding: 15px 25px;
	border-bottom: 1px solid #dedede;

	background-color: #f0f0f0;
}

.filter .categories {
	position: relative;
	overflow-y: auto;
}

.select {
	cursor: pointer;
}

.select * {
	margin: 0;
}

.header {
	position: sticky;
	top: 0;

	padding: var(--pad) 25px;

	color: #fff;
	font-weight: normal;
}

#region .header {
	background-color: var(--region-color);
}

#district .header {
	background-color: var(--district-color);
}

#type .header {
	background-color: var(--type-color);
}

.option {
	padding: 15px 25px;
	border-bottom: var(--bw) solid #d2d2d2;

	font-size: 0.85rem;

	cursor: pointer;
}

.option:last-child {
	border-top: none;
	border-bottom: none;
}

.selected,
.option:hover {
	background-color: #f4f6ff;
}

.selected {
	font-weight: bold;
	/*border-left: var(--bw2) solid transparent;*/
}

#region .selected {
	/*border-left-color: var(--region-color);*/
}

#district .selected {
	/*border-left-color: var(--district-color);*/
}

#type .selected {
	/*border-left-color: var(--type-color);*/
}

/* =========================================== */

.container {
	padding: calc(var(--pad) * 3);
	overflow: auto;
}

/* Table */

.table-container {
	overflow: auto;
}

.table-container .results {
	position: sticky;
	left: 0;
}

.table-main {
	min-width: 728px;
	overflow-x: auto;
}

table {
	width: 100%;
	border-spacing: 0;
}

tbody td,
thead th {
	min-width: 220px;
	padding: 8px;
	border: 0 solid #c4c4c4;
	border-width: 0 0 var(--bw) var(--bw);
}

tbody td:last-child,
thead th:last-child {
	border-right-width: var(--bw);
}

thead tr {
	background-color: #393e46;
	color: #f4f6ff;
}

tbody tr,
tbody tr.show {
	display: table-row;
	background-color: #f4f6ff;
}

tbody tr.hide {
	display: none;
}

tbody tr:last-child td {
	border-bottom-width: var(--bw);
}

tbody tr:hover {
	background-color: #ebebeb;
}

thead th {
	overflow: hidden;
	resize: horizontal;

	cursor: pointer;

	background-repeat: no-repeat;
	background-position: 90% center;
	background-size: 15px;
}

thead th[sort-order="neutral"] {
	background-image: url("img/sort-neutral.png");
}

thead th[sort-order="ascending"] {
	background-image: url("img/sort-up.png");
}

thead th[sort-order="descending"] {
	background-image: url("img/sort-down.png");
}

/* =========================================== */

/* Custom Scrollbar */

/*.table-container::-webkit-scrollbar,*/
.categories::-webkit-scrollbar {
	width: var(--sbar);
	/*border-radius: calc(var(--sbar) / 2);*/
	background-color: #f0f0f0;
	transition: width 0.5s ease-in-out;
}

/*.table-container::-webkit-scrollbar-thumb,*/
.categories::-webkit-scrollbar-thumb {
	background-color: #d2d2d2;
	/*border-radius: calc(var(--sbar) / 2);*/
}

@media screen and (min-width: 900px) {
	:root {
		--pad: 10px;
	}

	body {
		flex-direction: row;
	}

	.toggle {
		display: none;
	}

	.filter {
		position: sticky;
		box-shadow: none;
		min-width: 300px;
		left: 0;
	}
}

/* Animation */

@keyframes load {
	to {
		filter: hue-rotate(360deg);
	}
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}
