:root {
	--r: 6px;
	--sbar: 6px;
	--pad: 10px;
	--bw: 1px;
	--bw2: calc(var(--bw) * 2);
	--region-color: #01a9b4;
	--district-color: #e84a5f;
	--type-color: #ffa931;
}

body {
	margin: 0;
	font-family: Roboto, sans-serif;
}

#loader {
	position: fixed;
	top: 0;
	left: 0;

	height: 4px;
	width: 100%;
	
	background-color: teal;
	
	animation: load 1.2s ease-in-out infinite;
	
	z-index: 1;
}

header {
	position: sticky;
	top: 0;
	
	padding: calc(var(--pad) * 2) 2.5vw;
	border-bottom: var(--bw) solid #ebebeb;
	
	background-color: #fff
}

header > * {
	margin: 0;
}

header h1 {
	font-family: 'Product Sans', sans-serif
}

.container {
	display: flex;
	justify-content: space-between;
	
	height: 79vh;

	margin: 0 1vw 0 2.5vw;
	padding: calc(var(--pad) * 2) 0
}

/* Custom Scrollbar */

.table-container::-webkit-scrollbar,
.filter::-webkit-scrollbar {
    width: var(--sbar);
    border-radius: calc(var(--sbar) / 2);
    background-color: #f0f0f0;
    transition: width .5s ease-in-out;
}

.table-container::-webkit-scrollbar-thumb,
.filter::-webkit-scrollbar-thumb {
    background-color: #d2d2d2;
    border-radius: calc(var(--sbar) / 2);
}

/* Table */

.table-container {
	flex-basis: 79%;
	overflow-y: auto;
}

table {
	border-spacing: 0;
	padding-right: calc(var(--pad) * 2);
}

tbody td,
thead th {
	width: 280px;
	border: 0 solid #c4c4c4;
	border-width: 0 0 var(--bw) var(--bw);
}

tbody td:last-child,
thead th:last-child {
	border-right-width: var(--bw);
}

thead tr {
	background-color: #393e46;
	color: #f4f6ff;
}

tbody tr,
tbody tr.show {
	display: table-row;
	background-color: #f4f6ff; 
}

tbody tr.hide {
	display: none;
	/*animation: hide .3s ease .06s forwards;*/
}

tbody tr:last-child td {
	border-bottom-width: var(--bw);
}

tbody tr:hover {
	background-color: #ebebeb;
}

th {
	overflow: hidden;
	resize: horizontal;
}

th, td {
	width: 250px;
	padding: 8px;
    overflow: hidden;
}

/* Filters */

.filter {
	flex-basis: 17%;
	padding-right: 15px;
	overflow-y: auto;
}

.select {
	margin-bottom: 5vh;
	cursor: pointer;
}

.select.collapsed .header {
	border-radius: var(--r);
}

.select.collapsed .options {
	display: none
}

.options {
	border: var(--bw) solid #d2d2d2;
	border-radius: 0 0 var(--r) var(--r)
}

.select * {
	margin: 0;
}

.header {
	padding: var(--pad);
	border-radius: var(--r) var(--r) 0 0 ;
	
	color: #fff;
	font-weight: normal;
	/*neo-tort*/
}

#region .header {
	background-color: var(--region-color);
}

#district .header {
	background-color: var(--district-color);
}

#type .header {
	background-color: var(--type-color);
}

.option {
	padding: var(--pad);
	border-bottom: var(--bw) solid #d2d2d2;

	font-size: .85rem;
	
	cursor: pointer;
}

.option:last-child {
	border-top: none;
	border-bottom: none;
	border-radius: 0 0 var(--r) var(--r);
}

.selected,
.option:hover {
	background-color: #f4f6ff;
}

.selected {
	font-weight: bold;
}

#region .selected {
	border-left: var(--bw2) solid var(--region-color);
}

#district .selected {
	border-left: var(--bw2) solid var(--district-color);
}

#type .selected {
	border-left: var(--bw2) solid var(--type-color);
}


/* Animation */

@keyframes load {
	to { filter: hue-rotate(360deg); }
}

@keyframes hide {
	to { opacity: 0; }
}
